<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <script defer src="/js/index.js"></script>
    <script defer src="/js/index1.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyecto Autómata</title>
</head>

<body>
    <img class="responsive-img" src="/Imagenes/BarraSuperior.png">

    <div class="container">
        <div class="container">
            <nav>
                <div class="nav-wrapper">
                    <form>
                        <div class="input-field">
                            <input id="search" type="search" required onkeyup="Busqueda()">
                            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </div>
            </nav>
        </div>

        <div class="container">
            <div id="estados" class="container z-depth-5 estados">
                <div id="content" class="content">
                   
                </div>
            </div>
        </div>
    </div>
    &nbsp;
    <div class="container">
        <div class="container info">
            <div class="row">
                <div class="col s6">
                    <h4> Carnet, Diploma y Grado. </h4>
                </div>
                <div class="col s6">
                    <h5 class="blue-text text-darken-1">Descipcion:</h5>
                    <p>Generar los procesos necesarios realizar la ceremonia de grado.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <table  class="responsive-table centered highlight">
            <thead>
              <tr>
                  <th>Nro</th>
                  <th>Nombre</th>
                  <th>Descripcion</th>
                  <th>Link</th>
                  <th>Requisitos</th>
                  <th>Formato</th>
                  <th>Guia Multimedia</th>
              </tr>
            </thead>
    
            <tbody>
              <tr>
                <td>1</td>
                <td>Login(a)</td>
                <td>Ingrese a la Plataforma del SIA</td>
                <td>https://campus.ucaldas.edu.co/psp/cs92prod/?cmd=login&languageCd=ESP&</td>
                <td>Tener usuario y contraseña activo</td>
                <td>NA</td>
                <td>img</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Seccion Gestion de Tramites</td>
                <td>Dar click en la seccion de "Gestion de Tramites"</td>
                <td>NA</td>
                <td>Haber realizado el login</td>
                <td>NA</td>
                <td>img</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Peticion de Tramites</td>
                <td>En el menu lateral seleccionar la opción "Peticion de Tramites".</td>
                <td>NA</td>
                <td>Estar en la seccion de "Gestion de Tramites"</td>
                <td>NA</td>
                <td>img</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Carnet de Egresado</td>
                <td>Complete los campos de texto necesarios y en Tramite seleccione "GradoCarne". Luego oprima el boton "Generar Solicitud".</td>
                <td>NA</td>
                <td>Estar en la opción de "Peticion de Tramites"</td>
                <td>NA</td>
                <td>img</td>
              </tr>
              <tr>
                <td>5</td>
                <td>Pagina de Pagos</td>
                <td>Dar click en el hipervinculo "Ir a la pagina de pagos". Esto redireccionara a la pagina de "Impresion de Recibo".</td>
                <td>NA</td>
                <td>Haber generado la solicitud</td>
                <td>NA</td>
                <td>img</td>
              </tr>
              <tr>
                <td>6</td>
                <td>Volver a Alumnos</td>
                <td>Dar click en el icono de la cas en la esquina superior derecha o en la esquina superior izquierda en "Alumnos".</td>
                <td>NA</td>
                <td>Estar en la pagina "Impresión de Recibo"</td>
                <td>NA</td>
                <td>img</td>
              </tr>
              <tr>
                <td>7</td>
                <td>Seccion Gestion de Tramites</td>
                <td>Dar click en la seccion de "Gestion de Tramites".</td>
                <td>NA</td>
                <td>Estar en la pagina de Alumnos</td>
                <td>NA</td>
                <td>img</td>
              </tr>
              <tr>
                <td>8</td>
                <td>Peticion de Tramites</td>
                <td>En el menu lateral seleccionar la opción "Peticion de Tramites".</td>
                <td>NA</td>
                <td>Estar en la seccion de "Gestion de Tramites"</td>
                <td>NA</td>
                <td>img</td>
              </tr>
              <tr>
                <td>9</td>
                <td>Marcacion Diploma de Grado.</td>
                <td>Complete los campos de texto necesarios y en Tramite seleccione "GradoDiplo". Luego oprima el boton "Generar Solicitud".</td>
                <td>NA</td>
                <td>Haber seleccionado la opcion "Peticion de Tramites".</td>
                <td>NA</td>
                <td>img</td>
              </tr>
              <tr>
                <td>10</td>
                <td>Pagina de Pagos</td>
                <td>Dar click en el hipervinculo "Ir a la pagina de pagos". Esto redireccionara a la pagina de "Impresion de Recibo".</td>
                <td>NA</td>
                <td>Haber generado la solicitud</td>
                <td>NA</td>
                <td>img</td>
              </tr> 
              <tr>
                <td>11</td>
                <td>Volver a Alumnos</td>
                <td>Dar click en el icono de la cas en la esquina superior derecha o en la esquina superior izquierda en "Alumnos".</td>
                <td>NA</td>
                <td>Estar en la pagina "Impresión de Recibo".</td>
                <td>NA</td>
                <td>img</td>
              </tr>
              <tr>
                <td>12</td>
                <td>Seccion Gestion de Tramites</td>
                <td>Dar click en la seccion de "Gestion de Tramites".</td>
                <td>NA</td>
                <td>Estar en la opcion "Plan p/Condiciones Acad"</td>
                <td>NA</td>
                <td>img</td>
              </tr>
              <tr>
                <td>13</td>
                <td>Peticion de Tramites</td>
                <td>En el menu lateral seleccionar la opción "Peticion de Tramites".</td>
                <td>NA</td>
                <td>Estar en la seccion de "Gestion de Tramites"</td>
                <td>NA</td>
                <td>img</td>
              </tr>
              <tr>
                <td>14</td>
                <td>Grado</td>
                <td>Complete los campos de texto necesarios y en Tramite seleccione "Grado"</td>
                <td>NA</td>
                <td>Estar en la seccion de "Gestion de Tramites". Haber realizado el pago del "Carnet de Egresado" y  "Marcacion Diploma de Grado"</td>
                <td>NA</td>
                <td>img</td>
              </tr>
              <tr>
                <td>15</td>
                <td>Resolucion Grado</td>
                <td>Seleccione la resolucion del Grado (con o sin ceremonia) y anexe los archivos solicitados. Luego oprima el boton "Generar Solicitud" .</td>
                <td>NA</td>
                <td>Estar en la seccion de "Gestion de Tramites" y seleccionado el tramite grado</td>
                <td>NA</td>
                <td>img</td>
              </tr>
              <tr>
                <td>16</td>
                <td>Pagina de Pagos</td>
                <td>Dar click en el hipervinculo "Ir a la pagina de pagos". Esto redireccionara a la pagina de "Impresion de Recibo"..</td>
                <td>NA</td>
                <td>Haber generado la solicitud</td>
                <td>NA</td>
                <td>img</td>
              </tr>           
            </tbody>
          </table>
    </div>

    <img class="responsive-img" src="/Imagenes/BarraInferior.png">

</body>

</html>