<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <script defer src="/js/index.js"></script>
    <script defer src="/js/index1.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyecto Autómata</title>
</head>

<body>
    <img class="responsive-img" src="/Imagenes/BarraSuperior.png">

    <div class="container">
        <div class="container">
            <nav>
                <div class="nav-wrapper">
                    <form>
                        <div class="input-field">
                            <input id="search" type="search" required onkeyup="Busqueda()">
                            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </div>
            </nav>
        </div>

        <div class="container">
            <div id="estados" class="container z-depth-5 estados">
                <div id="content" class="content">
                   
                </div>
            </div>
        </div>
    </div>
    &nbsp;
    <div class="container">
        <div class="container info">
            <div class="row">
                <div class="col s6">
                    <h4> Consultar Saldo de Cuenta. </h4>
                </div>
                <div class="col s6">
                    <h5 class="blue-text text-darken-1">Descipcion:</h5>
                    <p>Consultar el saldo total adeudado de la cuenta.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <table  class="responsive-table centered highlight">
            <thead>
              <tr>
                  <th>Nro</th>
                  <th>Nombre</th>
                  <th>Descripcion</th>
                  <th>Link</th>
                  <th>Requisitos</th>
                  <th>Formato</th>
                  <th>Guia Multimedia</th>
              </tr>
            </thead>
    
            <tbody>
              <tr>
                <td>1</td>
                <td>Login(a)</td>
                <td>Ingrese a la Plataforma del SIA</td>
                <td>https://campus.ucaldas.edu.co/psp/cs92prod/?cmd=login&languageCd=ESP&</td>
                <td>Tener usuario y contraseña activo</td>
                <td>NA</td>
                <td>img</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Seccion Cuenta Financiera(b)</td>
                <td>Dar clic en la sección de "Cuenta Financiera"</td>
                <td>NA</td>
                <td>Haber realizado el login</td>
                <td>NA</td>
                <td>img</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Saldo de Cuenta(c)</td>
                <td>En el menu lateral seleccionar la opción "Saldos de Cuentas". Se visualizara el ciclo y el valor adeudado respectivo y el total.</td>
                <td>NA</td>
                <td>Estar en la seccion de "Cuenta Financiera"</td>
                <td>NA</td>
                <td>img</td>
              </tr>
            </tbody>
          </table>
    </div>

    <img class="responsive-img" src="/Imagenes/BarraInferior.png">

</body>

</html>